nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
  margin-bottom: 4rem;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: line-through;
    }
  }
  h3 {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
  }
  ul {
    width: 60%;
    margin: auto;
    display: flex;
    list-style: none;
    li {
      margin: auto;
    }
  }
}

@media (max-width: 600px) {
  nav {
    ul {
      display: flex;
      flex-flow: column;
      li {
        margin-bottom: .5rem;
      }
    }
  }
}
