nav {
  width: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
  margin-bottom: 4rem; }
  nav a {
    text-decoration: none; }
    nav a:hover {
      text-decoration: line-through; }
  nav h3 {
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 2rem; }
  nav ul {
    width: 60%;
    margin: auto;
    display: flex;
    list-style: none; }
    nav ul li {
      margin: auto; }

@media (max-width: 600px) {
  nav ul {
    display: flex;
    flex-flow: column; }
    nav ul li {
      margin-bottom: .5rem; } }

html {
  font-size: 14px; }
